{{#each programGroup in programGroupings}}
	<div class="special-program">
		{{form-checkbox checked=programGroup.showCheck}} {{programGroup.specialProgram.name}}

		{{#if programGroup.showEssays}}
			{{#if programGroup.requiredEssays}}
				{{render 'universities/show/application-essay-group' programGroup.requiredEssays title="Required Essays"}}
			{{/if}}
			{{#if programGroup.optionalEssays}}
				{{render 'universities/show/application-essay-group' programGroup.optionalEssays title="Optional Essays"}}
			{{/if}}
			{{#if programGroup.choiceEssays}}
				{{render 'universities/show/choice-group' programGroup.choiceEssays title="Choice Essays"}}
			{{/if}}
		{{/if}}
	</div>
{{/each}}
