<div class="module-title">
	<h2>Essays</h2>
	<span class="student-info">{{student.name}}</span>
	{{#if showMergedEssays}}
		<button {{action 'toggleMergedEssays'}}>Hide Merged Essays</button>
	{{else}}
		<button {{action 'toggleMergedEssays'}}>Show Merged Essays</button>
	{{/if}}
</div>

{{view App.StudentEssaysListView}}
