<!-- <div class="list-style-group">{{id}} +7</div> -->
<div class="main-group">
    <div class="main-line">{{theme.name}}</div>
    <div class="sub-line">{{theme.category}}</div>
</div>
<div class="arrow-icon">&gt;</div>
<div class="details-group">
    <div class="next-action">{{next_action}}</div>
    <div class="draft-due">
        Next Due:
                  {{#if next_due_date}}
                    {{formatDate next_due_date}}
                  {{else}}
                    {{#if due_date}}
                      {{formatDate due_date}}
                    {{else}}
                      N/A
                    {{/if}}
                  {{/if}}
    </div>
    <div class="essay-due">
      Essay Due:  {{#if due_date}}
                    {{formatDate due_date}}
                  {{else}}
                    N/A
                  {{/if}}
    </div>
</div>
