<div class="editor-column summary-column">
    <div class="editor-toggles">
        <button {{action editorToggle}} class="editor-toggle">Details</button>
        <button {{action editorToggle}} class="editor-toggle">Review</button>
    </div>
    <div class="essay-prompt strong">{{essay.essay_prompt}}</div>
</div>

<div class="editor-column text-column">
    <div class="toolbar-container">
        <div id="editor-toolbar" class="editor-toolbar"></div>
    </div>

    {{#if reviewMode}}
        {{view App.TextEditor
            action="startedWriting"
            valueBinding="formatted_text"
            isReadOnly=true
        }}
    {{else}}
        {{view App.TextEditor
            action="startedWriting"
            valueBinding="formatted_text"
        }}
    {{/if}}
</div>

<div class="editor-column annotations-column">
</div>
