<span class="annotaion-close" {{action 'closeAnnotation'}}><i class="icon-cancel-circled"></i></span>

<span {{bind-attr class=":annotation-details-tag-selected annotation.isPositive:tag-positive:tag-negative annotation.isRubric:tag-rubric"}}>{{annotation.tag.name}} <i class="icon-info-circled" {{action "toggleCollapse"}}></i></span>

{{#general-collapse isActive=collapseActive}}
	{{annotation.tag.description}}
{{/general-collapse}}

<p class="annotation-details-comment">{{annotation.comment}}</p>

<p class="annotation-details-comment">Original: "{{annotation.original}}"</p>

{{#if isStudent}} <!-- For Students:  -->
  {{#unless annotation.isResolved}}
	  <button class="annotation-details-button" {{action "resolveAnnotation"}}>Resolve</button>
  {{else}}
    <p class="bold annotation-details-comment">[Resolved]</p>
  {{/unless}}

{{else}}          <!-- For teachers:  -->
  <!-- Show 'Approve' button only if stud has resolved, and hasn't been approved/  -->
  {{#if annotation.isNewAnnotation}}     
    <p class="bold annotation-details-comment">[Awaiting Student]</p>
    <button style="margin-top: 15px" class="annotation-details-button" {{action "deleteAnnotation"}}>Delete</button>
  {{/if}}
  
  {{#if annotation.isResolved}}           
    <button class="annotation-details-button" {{action "approveAnnotation"}}>Approve</button>
  {{/if}}

  {{#if annotation.isApproved}}     
    <p class="bold annotation-details-comment">[Approved]</p>
  {{/if}}
{{/if}}
