{{#if parent}}
<div class="details-field">
    <div class="key">Merged into Essay:</div>
    <div class="value app-text">{{parent.theme.name}}</div>
</div>
{{/if}}

<div class="details-field">
    <div class="key">Prompt:</div>
    <div class="value app-text">{{essay_prompt}}</div>
</div>
<div class="details-field">
    <div class="key">Audience:</div>
    <div class="value app-text">{{audience}}</div>
</div>
<div class="details-field">
    <div class="key">Context:</div>
    <div class="value app-text">{{context}}</div>
</div>

{{#if merged_theme_essays}}
<div class="details-field">
    <div class="key">Merged into Essay:</div>
    <ul>
        {{#each mergedEssay in merged_theme_essays}}
            <li>{{mergedEssay.theme.name}}</li>
        {{/each}}
    </ul>
    <div class="value app-text">{{parent.theme.name}}</div>
</div>
{{/if}}

<div class="details-field">
    <div class="key">Next Due Date:</div>
    {{form-date date=due_date format="mm/dd/yyyy"}}
</div>

<div class="details-field">
    <div class="key">Number of Revisions:</div>
    {{form-number value=num_of_drafts min=0 max=20}}
</div>

{{#if is_in_progress}}
    <div class="details-field">
        <div class="key">Topic:</div>
        <div class="value student-text">{{topic}}</div>
    </div>
{{else}}
    <div class="details-field">
        <div class="key">Topic 1:</div>
        {{textarea class="value student-text" valueBinding="controller.proposed_topic_0"}}
    </div>

    {{#if topicsReadyForApproval}}
        <button {{action 'approveProposedTopic' model 'proposed_topic_0'}}>Approve Topic 1</button>
    {{/if}}

    <div class="details-field">
        <div class="key">Topic 2:</div>
        {{textarea class="value student-text" valueBinding="controller.proposed_topic_1"}}
    </div>

    {{#if topicsReadyForApproval}}
        <button {{action 'approveProposedTopic' model 'proposed_topic_1'}}>Approve Topic 2</button>
    {{/if}}
{{/if}}

{{#if draft_ready_for_review}}
    <button {{action 'reviewDraft' recentDraft}}>Review Draft</button>
{{/if}}

{{#if parent}}
<button {{action 'splitEssay' model}}>Unmerge Essay</button>
{{else}}
<button {{action 'mergeEssay' model}}>Merge Essay</button>
{{/if}}
