<header id="header">{{outlet header}}</header>
<div id="main-layout">
    <section id="list-module">{{outlet list-module}}</section>
    <section id="details-module">{{outlet details-module}}</section>
</div>
<div id="editor-layout">
    <section id="editor-module">{{outlet editor-module}}</section>
</div>
<div id="modal-container">
    <section id="modal-module">{{outlet modal-module}}</section>
</div>
