<ol class="list">
{{#if showHiddenEssays}}
  <li class="legend">Merged Essays</li>
  {{#each mergedEssays}}
    {{view view.listItem classNameBindings="isSelected" }}
  {{/each}}
  <li class="legend">Hidden Essays</li>
  {{#each notDisplayedEssays}}
    {{view view.listItem classNameBindings="isSelected" }}
  {{/each}}
{{else}}
    {{#if teacherActionRequiredEssays}}
      <li class="legend">Take Action</li>
      {{#each teacherActionRequiredEssays}}
        {{view view.listItem classNameBindings="isSelected" }}
      {{/each}}
    {{/if}}
    {{#if studentActionRequiredEssays}}
      <li class="legend">Awaiting Student</li>
      {{#each studentActionRequiredEssays}}
        {{view view.listItem classNameBindings="isSelected" }}
      {{/each}}
    {{/if}}
{{/if}}
</ol>
