<div class="module-title">
	<h2 class="inline">Essays</h2>
  {{#if showMergedEssays}}
    <button {{action 'toggleHiddenEssays'}}>Hide Hidden Essays</button>
  {{else}}
    <button {{action 'toggleHiddenEssays'}}>Show Hidden Essays</button>
  {{/if}}
  <br />
	<span class="student-info">{{student.name}}</span>
</div>

{{view 'student/essays/list'}}
