{{outlet header}}
<div id="layout-container">{{outlet}}</div>
<div id="modal-container" {{bind-attr class="modalActive:active"}}>
    <section id="modal-module" class="module">{{outlet modal-module}}</section>
</div>
<div id="loading-container" {{bind-attr class="loadingActive:active"}}>
	<section id="loading-spinner"></section>
</div>
