<div class="module-title">
	<h2>Essays</h2>
	{{#if showHiddenEssays}}
		<button {{action 'toggleHiddenEssays'}}>Hide Hidden Essays</button>
	{{else}}
		<button {{action 'toggleHiddenEssays'}}>Show Hidden Essays</button>
	{{/if}}
	<span class="student-info">{{student.name}}</span>
</div>

{{view 'essays/list'}}
