<span class="annotaion-close" {{action 'closeAnnotation'}}><i class="icon-cancel-circled"></i></span>

<span {{bind-attr class=":annotation-details-tag-selected annotation.isPositive:tag-positive:tag-negative"}}>{{annotation.tag.name}} <i class="icon-info-circled" {{action "toggleCollapse"}}></i></span>

{{#general-collapse isActive=collapseActive}}
	{{annotation.tag.description}}
{{/general-collapse}}

<p class="annotation-details-comment">{{annotation.comment}}</p>

<p class="annotation-details-comment">Original: "{{annotation.original}}"</p>

{{#if isStudent}}
	<button class="annotation-details-button" {{action "resolveAnnotation"}}>Resolve</button>
{{/if}}
